<app-header></app-header>
<p>home works!</p>

<div class="form-row">
    <label>FA Input:</label>
    <app-au-fa-input icon="envelope"></app-au-fa-input>
</div>
<div class="form-row">
    <label>FA Input:</label>
    <app-au-fa-input icon="lock"></app-au-fa-input>
</div>
<div class="form-row">
    <label>FA Input:</label>
    <app-au-fa-input icon="cc-stripe"></app-au-fa-input>
</div>
<div class="form-row">
    <label>FA Input:</label>
    <app-au-fa-input icon="paypal"></app-au-fa-input>
</div>


<p>aaaaaaaaaaaaaaaaa</p>
<app-footer></app-footer>
